:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --accent-color: #FF0070;
  --accent-color-bg: #FF0070;
  --accent-color-text: #000028;
  --border-color: #FF0070;
  --border-hover: rgba(255, 0, 112, 0.4);
  --focus-outline: #FF0070;
  --link-shadow: #FF0070;
  --bg-image: url('../images/cover-image-dark.png');
  --rec-display: flex;
}