:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --accent-color: #353430;
  --accent-color-bg: #ff8dcb;
  --accent-color-text: #353430;
  --border-color: #353430;
  --border-hover: rgba(53, 52, 48, 0.4);
  --focus-outline: #353430;
  --link-shadow: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff8dcb;
    --accent-color: #353430;
    --accent-color-bg: #ff8dcb;
    --accent-color-text: #353430;
    --border-color: #353430;
    --border-hover: rgba(53, 52, 48, 0.4);
    --focus-outline: #353430;
    --link-shadow: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
    --rec-display: none;
  }
}
