:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --accent-color-bg: #FF8DCB;
  --accent-color-text: #353430;
  --border-color: #353430;
  --border-hover: rgba(53, 52, 48, 0.4);
  --focus-outline: #353430;
  --link-shadow: #FF8DCB;
  --bg-image: url('../images/cover-image-light.png');
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
      --bg-color: #FFF1F7;
      --text-color: #353430;
      --title-color: #FFC2E6;
      --accent-color: #FF8DCB;
      --accent-color-bg: #FF8DCB;
      --accent-color-text: #353430;
      --border-color: #353430;
      --border-hover: rgba(53, 52, 48, 0.4);
      --focus-outline: #353430;
      --link-shadow: #FF8DCB;
      --bg-image: url('../images/cover-image-light.png');
      --rec-display: none;
    }
}