:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-color-bg: #ff0070;
  --accent-color-text: #000028;
  --border-color: #ff0070;
  --border-hover: rgba(255, 0, 112, 0.4);
  --focus-outline: #ff0070;
  --link-shadow: #ff0070;
  --bg-image: url("../images/background-dark.png");
  --rec-display: flex;
  --main-font: "IBM Plex mono", monospace;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --gap: 20px;
  --section-gap: 50px;
}
